



h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
img{
  width: 30%;
  height: 0%;
  padding: 0px;
  margin:auto;
  align-items: center;
  display: block;

}
h4{
  text-align: left;
  color:black;
  font-family:fantasy ;
  font-size: large;
  justify-content: center;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;

}
h2{
  font-family: fantasy;
  font-size: xx-large;
  justify-content: center;
  text-align: center;

}


